body {
    background-color: turquoise;
}

.text {
    text-align: center;
    display: block;
    text-decoration-line: none;
    color: black;
    margin-top: 20px;
    background-color: lightblue;
    padding: 16px;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.desc {
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 20px;
}